hr{
    background-color:white;
}
body{
    display:flex;
    justify-content: center;
    color:white;
}
#container{
    width:20%;
    background-color: rgb(125, 124, 124);
    border: 1px solid rgb(255, 255, 255);
    padding:50px;
}
marquee{
    color:rgb(255, 255, 255);
}
.button:hover{
    width:29px;
    height:29px;
    background-color: rgb(182, 173, 187);
}